<div class="order-status-container">
    <mat-card class="order-status-card">
      <mat-card-header>
        <div mat-card-avatar class="status-avatar">
          G
        </div>
        <mat-card-title>Geplaatst</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="status-value">{{data.placed }}</div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="order-status-card">
      <mat-card-header>
        <div mat-card-avatar class="status-avatar">
          V
        </div>
        <mat-card-title>Verzonden</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="status-value">{{ data.shipped }}</div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="order-status-card">
      <mat-card-header>
        <div mat-card-avatar class="status-avatar">
          B
        </div>
        <mat-card-title>Bezorgt</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="status-value">{{ data.delivered }}</div>
      </mat-card-content>
    </mat-card>
  </div>