<!-- YourComponent.component.html -->
<form [formGroup]="reviewForm" class="review-form">
    <div class="file-upload-container">
        <button mat-button (click)="paginaVergroten()"><i class="fas fa-plus"></i> Pagina Vegroten</button>
        <button mat-button (click)="paginaVerkleinen()"><i class="fas fa-minus"></i> Pagina Verkleinen</button>
        
        <label class="file-upload-label">
            <span>Selecteer een bestand</span>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
            <mat-icon>Bestand toevoegen</mat-icon>
        </label>

        <div *ngIf="selectedFile" class="image-preview">
            <div class="circle-image">
                <img [src]="imagePreview" alt="Selected Image" class="preview-image">
            </div>
        </div>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Recensie</mat-label>
        <mat-select formControlName="rating">
            <mat-option value="1">1 Ster</mat-option>
            <mat-option value="2">2 Sterren</mat-option>
            <mat-option value="3">3 Sterren</mat-option>
            <mat-option value="4">4 Sterren</mat-option>
            <mat-option value="5">5 Sterren</mat-option>
        </mat-select>
        <mat-error *ngIf="reviewForm.get('rating').invalid && reviewForm.get('rating').touched">
            Selecteer aub een rating!
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Beschrijving</mat-label>
        <textarea matInput formControlName="description" placeholder="Description" rows="5"></textarea>
        <mat-error *ngIf="reviewForm.get('description').invalid && reviewForm.get('description').touched">
            Dit is verplicht!
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="submitForm()">Submit</button>
</form>
