
$my-palette: (
  50: hsl(var(--hue), var(--saturation), 90%),
  100: hsl(var(--hue), var(--saturation), 80%),
  200: hsl(var(--hue), var(--saturation), 70%),
  300: hsl(var(--hue), var(--saturation), 65%),
  400: #ab47bc,
  500: #3c0846,
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);