<div class="container">
    <h2>Post FAQ</h2>
    <mat-spinner *ngIf="isSpinning"></mat-spinner>
    <form [formGroup]="FAQForm" (ngSubmit)="postFAQ()" [class.spinner-active]="isSpinning">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Vraag</mat-label>
            <textarea matInput placeholder="Question" formControlName="question"></textarea>
            <mat-error *ngIf="FAQForm.get('question')?.hasError('required')">Dit is verplicht!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Antwoord</mat-label>
            <textarea matInput placeholder="Answer" formControlName="answer"></textarea>
            <mat-error *ngIf="FAQForm.get('answer')?.hasError('required')">Dit is verplicht!</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Post FGV</button>
    </form>
</div>
